
@media (min-width: 992px) {
  .dropdown-menu { max-height:300px; overflow:auto; }
}

.smcx-embed {
    width: 100%;
    max-width: 100% !important;
}

.smcx-embed>.smcx-iframe-container {
    width: 100%;
    max-width: 100% !important;
}
