body {
  height:100%;
}

#osa-iframe {
  width:320px;
  height:400px;
  border:1px solid #ccc;
  margin: 50px;
  overflow-x: auto;
}

h1 {
  font-family: 'NBS-Bold', 'NBS Medium Bold', 'NBS Medium', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 27px;
  color: #222;
}

p,li,label {
  font-family: 'NBS-Light', 'NBS Light', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #444;
  line-height: 24px;
}

a {
  font-family: 'NBS-Light', 'NBS Light', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #004A8F;
  line-height: 24px;
}

strong {
  font-family: 'NBS-Bold', 'NBS Medium Bold', 'NBS Medium', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 700;
}

.btn-primary {
  font-family: 'NBS-Bold', 'NBS Medium Bold', 'NBS Medium', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
  padding: 7px 20px 7px 24px;
  background: #004A8F;
  color:#fff;
  border-width:0;
}
.btn-link {
  font-family: 'NBS-Light', 'NBS Light', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #004A8F;
  line-height: 24px;
  padding:0;
}
.btn-primary .fa, .btn-link .fa-chevron-right {
  margin-left: 6px;
}
.btn-primary .fa, .btn-link .fa-chevron-left {
  margin-right: 6px;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled.rca-instructions li {
  margin-bottom: 8px;
}

.alert-info {
  background: #e5f1f9;
  border-width:0;
  border-radius:0;
  padding:12px;
}
.alert-info p {
  margin-bottom: 0;
}
.btn.underline {
  text-decoration:underline;
}

.form label {
  margin-bottom: 0;
  font-weight: 700;
}
.form input {
  border-radius:0;
}
.forminline input {
  width:50%;
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  line-height: 30px;
}
.forminline .btn {
  line-height: 18px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}

.header, .section, .footer {
  padding:12px;
}


.header {

}
.header .verifiedbyvisa {
  margin-top: 10px;
}

.section {
  padding-top:0;
  padding-bottom: 0;
}

.footer {
  background: #f2f2f2;
  width: 100%;
}
.footer, .page-wrap:after {
  height: 50px;
}
