body {
  height:100%;
}

#osa-iframe {
  width:320px;
  height:400px;
  border:1px solid #ccc;
  margin: 50px;
  overflow-x: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'NBSBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 27px;
  color: #222;
}

p,li,label,.badge {
  font-family: 'NBSLight', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #444;
  line-height: 24px;
}

a {
  font-family: 'NBSLight', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #004A8F;
  line-height: 24px;
}

strong, .badge, .form label {
  font-family: 'NBSBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

.btn-primary,
.btn-secondary {
  font-family: 'NBSBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
  padding: 7px 24px;
  background: #004A8F;
  color:#fff;
  border-width:0;
  margin-bottom: 0.5rem;
}
.btn-secondary {
  font-family: 'NBSLight', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  background: none;
  border-width:2px;
  border-color: #004A8F;
  padding: 5px 22px;
  color: #004A8F;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #fff;
  border-color: #222;
  color: #222;
}
.btn-link {
  font-family: 'NBSLight', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #004A8F;
  line-height: 24px;
  padding:3px 0;
}
.btn-primary.d-block,
.btn-secondary.d-block {
  width: 100%;
}
.btn-primary .fa-chevron-right,
.btn-secondary .fa-chevron-right,
.btn-link .fa-chevron-right {
  margin-left: 6px;
  margin-right: -6px;
}
.btn-primary .fa-chevron-left,
.btn-secondary .fa-chevron-left,
.btn-link .fa-chevron-left {
  margin-left: 0;
  margin-right: 6px;
}

.badge-secondary {
  background:#e5f1f9;
  padding:0px 3px;
  border-radius: 0;
}


.list-unstyled li {
  margin-bottom: 5px;
}

.list-unstyled.rca-instructions li {
  margin-bottom: 8px;
}

.alert-info {
  background: #e5f1f9;
  border-width:0;
  border-radius:0;
  padding:4px 12px 12px;
}
.alert-info p {
  margin-bottom: 0;
}
.btn.underline {
  text-decoration:underline;
}

.form label {
  margin-bottom: 0;
}
.form input {
  border-radius:0;
}
.forminline input {
  width:50%;
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  line-height: 30px;
}
.forminline .btn {
  line-height: 18px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
  position: relative;
}
.page-wrap:after {
  content: "";
  display: block;
}

.header, .section, .footer {
  padding:12px;
}


.header {
}

.header .verifiedbyvisa {
  margin-top: 10px;
}

.section {
  padding-top:0;
  padding-bottom: 0;
}

.footer {
  background: #f2f2f2;
  width: 100%;
  position: relative;
}
.footer, .page-wrap:after {
  height: 50px;
}

.modal {
  position: absolute;
}
.modal-dialog {
  margin: 0;
  height: 100%;
}
.modal-header {
  padding-bottom: 0;
  border-bottom: 0;
}
.modal-title {
  line-height: 27px;
}
.modal-body {
  padding-top: 0.5rem;
}
.modal-content {
  background: #f2f2f2;
  height: 100%;
  border-radius: 0;
  border-width: 0;
}

.modal.fade .modal-dialog {
  bottom: -400px;
  opacity: 1;
  -webkit-transition: bottom 0.3s ease-out;
  -moz-transition: bottom 0.3s ease-out;
  -o-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;
}
.modal.fade.show .modal-dialog {
  bottom: 0;
}

.rca-instructions {
}
.rca-instructions li {
  margin-bottom: 5px;
  margin-left: 5px;
}
.rca-image {
  margin-right: 7px;
  margin-top: -10px;
  margin-bottom: 5px;
}
